asgiref==3.7.2
chardet==5.2.0
crispy-bootstrap4==2023.1
Django==5.0.1
django-crispy-forms==2.1
django-filter==23.5
django-phonenumber-field==7.3.0
django-phonenumbers==1.0.1
django-shortcuts==1.6
django-widget-tweaks==1.4.8
phonenumbers==8.12.28
phonenumberslite==8.12.28
pillow==10.2.0
pytz==2021.1
reportlab==4.0.9
sqlparse==0.4.1
sweetify==2.3.1
tzdata==2023.4
