altgraph==0.17
amqp==5.0.6
arrow==1.1.0
asgiref==3.4.1
astroid==2.3.3
auto-py-to-exe==2.9.0
autopep8==1.5.7
billiard==3.6.4.0
boto3==1.17.97
botocore==1.20.97
bottle==0.12.19
bottle-websocket==0.2.9
celery==5.1.1
certifi==2021.5.30
cffi==1.14.5
chardet==4.0.0
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.2.0
colorama==0.4.3
coreapi==2.3.3
coreschema==0.0.4
cryptography==3.4.7
defusedxml==0.7.1
Django==3.2.5
django-cors-headers==1.1.0
django-crispy-forms==1.12.0
django-extensions==3.1.3
django-filter==2.2.0
django-login-required-middleware==0.4
django-phonenumber-field==5.2.0
django-ses==2.0.0
django-taggit==1.4.0
django-widget-tweaks==1.4.5
djangorestframework==3.12.4
djangorestframework-jwt==1.11.0
drf-yasg==1.20.0
Eel==0.12.4
future==0.18.2
gevent==21.1.2
gevent-websocket==0.10.1
greenlet==1.1.0
idna==2.10
inflection==0.5.1
isort==4.3.21
itypes==1.2.0
Jinja2==3.0.1
jmespath==0.10.0
kombu==5.1.0
lazy-object-proxy==1.4.3
Markdown==3.3.4
MarkupSafe==2.0.1
mccabe==0.6.1
mysqlclient==2.0.3
oauthlib==3.1.1
packaging==20.9
pefile==2021.5.24
phonenumbers==8.12.25
Pillow==8.2.0
prompt-toolkit==3.0.19
psutil==5.8.0
psycopg2==2.9.1
pycodestyle==2.7.0
pycparser==2.20
pyinstaller==4.3
pyinstaller-hooks-contrib==2021.1
PyJWT==1.7.1
pylint==2.4.4
pyparsing==2.4.7
python-dateutil==2.8.1
python-dotenv==0.17.1
python3-openid==3.2.0
pytz==2021.1
pywin32-ctypes==0.2.0
requests==2.25.1
requests-oauthlib==1.3.0
ruamel.yaml==0.17.9
ruamel.yaml.clib==0.2.2
s3transfer==0.4.2
six==1.13.0
social-auth-app-django==4.0.0
social-auth-core==4.1.0
sqlparse==0.4.1
sweetify==2.0.0
toml==0.10.2
uritemplate==3.0.1
urllib3==1.26.5
vine==5.0.0
wcwidth==0.2.5
whichcraft==0.6.1
wrapt==1.11.2
zope.event==4.5.0
zope.interface==5.4.0
