{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Dashboard - CRM</title>
    <link rel="stylesheet" type="text/css" href="{% static '/dashboard/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href= {% static '/dashboard/fonts/fontawesome5-overrides.min.css' %}>
    <link rel="stylesheet" href= {% static '/style.css' %}>
</head>
<body id="page-top">
{% if user.is_authenticated %}


<div id="wrapper">
    <!-- Side bar -->
        {% include 'partials/sidenav.html' %}
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <!-- Nav bar -->
                {% include 'partials/topnav.html' %}

                <!-- Content -->
                <div class="container">
                    {% block content %}


                    {% endblock %}
                
                </div>
                
            </div>
            <!-- footer -->
            {% include 'partials/footer.html' %}
        </div>
    </div>
{% else %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="border p-3 bg-white">
                    <h3>Unauthorized User</h3>
                    <hr>
                    <div class="alert alert-danger">
                        <h4>You are not logged in</h4>
                    </div>
                    <a href="{% url 'dashboard:login' %}?next={{ request.path }}">Login</a>
                </div>
            </div>
        </div>
    </div>

{% endif %}
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
<script src={% static 'dashboard/js/bs-init.js' %}></script>
<script src={% static 'dashboard/js/theme.js' %}></script>
{#<script src={% static 'dashboard/js/chart.min.js' %}></script>#}
{#<script src={% static 'dashboard/js/chart.js' %}></script>#}
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src={% static 'dashboard/bootstrap/js/bootstrap.min.js' %}></script>
<script src="{% static '/scripts.js' %}"></script>
</body>
</html>