{% extends 'dashboard/dashboard.html' %}
{% block title %}Star Eight - Customer{% endblock %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
    <div class="form-body">
        <div class="form-container">
            <div class="title">Customer Registration</div>
            <div class="content">
                <form action="#" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="user-details">
                        <div class="input-box">

                            {{ form.name|as_crispy_field }}
                        </div>
                        <div class="input-box">

                            {{ form.uid|as_crispy_field }}
                        </div>
                        <div class="input-box">

                            {{ form.email|as_crispy_field }}
                        </div>
                        <div class="input-box">

                            {{ form.phone|as_crispy_field }}
                        </div>
                        <div class="input-box">

                            {{ form.balance|as_crispy_field }}
                        </div>
                        <div class="input-box">

                            {{ form.address|as_crispy_field }}
                        </div>
                    </div>
                    <div class="gender-details">
                        <div class="category">
                            {{ form.image|as_crispy_field }}
                        </div>
                    </div>

                    <div class="button">
                        <input type="submit" value="Register">
                    </div>
                </form>
            </div>
        </div>
    </div>



{% endblock %}
