{% extends 'partials/main.html' %}

{% block content %}
    <div class="d-sm-flex justify-content-center align-items-center mb-4">
        <h3 class="text-dark mb-0">Customer Profile</h3>
    </div>

    <div class="row justify-content-center">
        <div class="col-lg-7 col-xl-8">
            <div class="card shadow mb-4">

                <div class="card-body ">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">U-ID</h6>
                            </div>
                            <div class="col-sm-9 text-dark">
                                {{ customer.uid }}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Name</h6>
                            </div>
                            <div class="col-sm-9 text-dark">
                                {{ customer.name }}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Email</h6>
                            </div>
                            <div class="col-sm-9 text-dark">
                                {{ customer.email }}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Address</h6>
                            </div>
                            <div class="col-sm-9 text-dark">
                                {{ customer.address }}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Phone</h6>
                            </div>
                            <div class="col-sm-9 text-dark">
                                {{ customer.phone }}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Balance</h6>
                            </div>
                            <div class="col-sm-9 text-dark">
                                ৳ {{ customer.balance }}
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="text-center">
                    <a class="btn btn-sm btn-info" href="#">Edit</a>

                    <a class="btn btn-sm btn-danger"
                       href="#">Delete</a>
                </div>

            </div>
        </div>
    </div>


{% endblock %}