{% extends 'dashboard/dashboard.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block content %}
    <form method="post">
        {% csrf_token %}
        <div class="container">
            <div class="form-row ">
                <form action="" method="POST">
                    {{ form|crispy }}
                    <br>
                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
            </div>
        </div>
    </form>

<!--<form method="post">-->
<!--        {% csrf_token %}-->
<!--        <div class="container">-->
<!--            <div class="form-row ">-->
<!--            <div id="div_id_name" class="form-group">-->
<!--                 <label for="id_name" class=" requiredField">-->
<!--                        Name<span class="asteriskField">*</span>-->
<!--                </label>-->
<!--                <div class="">-->
<!--                    <input type="text" value="{{customer.name}}" name="name" class="form-control textinput textInput form-control" placeholder="name" maxlength="100" required="" id="id_name">-->
<!--                </div>-->
<!--            </div>-->
<!--            <div id="div_id_email" class="form-group">-->
<!--                <label for="id_email" class=" requiredField">-->
<!--                    Email<span class="asteriskField">*</span>-->
<!--                </label>-->
<!--                <div class="">-->
<!--                    <input type="email" name="email" maxlength="254" class="emailinput form-control" required="" id="id_email">-->
<!--                </div>-->
<!--            </div>-->
<!--            <div id="div_id_address" class="form-group">-->
<!--                <label for="id_address" class=" requiredField">-->
<!--                    Address<span class="asteriskField">*</span>-->
<!--                </label>-->
<!--                <div class="">-->
<!--                    <input type="text" name="address" maxlength="100" class="textinput textInput form-control" required="" id="id_address">-->
<!--                </div>-->
<!--            </div>-->
<!--            <div id="div_id_phone" class="form-group">-->
<!--                <label for="id_phone" class=" requiredField">-->
<!--                    Phone<span class="asteriskField">*</span>-->
<!--                </label>-->
<!--                 <div class="">-->
<!--                    <input type="text" name="phone" maxlength="100" class="textinput textInput form-control" required="" id="id_phone">-->
<!--                </div>-->
<!--            </div>-->
<!--            <div id="div_id_balance" class="form-group">-->
<!--                <label for="id_balance" class=" requiredField">-->
<!--                    Balance<span class="asteriskField">*</span>-->
<!--                </label>-->
<!--                <div class="">-->
<!--                    <input type="number" name="balance" class="numberinput form-control" required="" id="id_balance">-->
<!--                </div>-->
<!--            </div>-->
<!--            <div id="div_id_uid" class="form-group">-->
<!--                <label for="id_uid" class=" requiredField">-->
<!--                    Uid<span class="asteriskField">*</span>-->
<!--                </label>-->
<!--                <div class="">-->
<!--                    <input type="number" name="uid" class="numberinput form-control" required="" id="id_uid">-->
<!--                </div>-->
<!--        </div>-->

<!--                    <br>-->
<!--                    <button type="submit" class="btn btn-primary">Create</button>-->

<!--                <a class="btn btn-success" href="/customer/customer_list/">List</a>-->
<!--            </div>-->
<!--        </div>-->
<!--    </form>-->

{% endblock %}