{% extends 'dashboard/dashboard.html' %}
{% block title %}Star Eight - Customer{% endblock %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block content %}
    <div style="text-align: center;">
        <h1>Are you sure, You went to delete <span class="text-danger">{{ object.name }}</span>? </h1>
        <form method="post">
            {% csrf_token %}
            <input class="btn btn-danger" type="submit" name="Delete" value="Delete">
            <a class="btn btn-primary" href="{% url 'customer:customer_list' %}">Cancel</a>

        </form>
    </div>
{% endblock %}
