{% extends 'dashboard/dashboard.html' %}
{% block title %}Star Eight - Customer{% endblock %}
{% load widget_tweaks %}
{% block content %}
    <div class="container-fluid">
        <h3 class="text-dark mb-4 text-center">Customer List</h3>
        <div class="card shadow">
            <div class="card-header py-4">
                <div class="row align-items-center">
                    <div class="col-md-4 ">
                        {#                        <h5 class="text-primary m-0 fw-bold">Customer Info</h5>#}
                    </div>
                    {#                    <div class="col-md-4">#}
                    {#                        {% if messages %}#}
                    {#                            <ul class="messages">#}
                    {#                                {% for message in messages %}#}
                    {#                                    <span class="{{ message.tags }}">{{ message }}</span>#}
                    {#                                {% endfor %}#}
                    {#                            </ul>#}
                    {#                        {% endif %}#}
                    {#                    </div>#}
                    <div class="col-md-4">
                        <div class="card-header py-4">
                            <form action="" method="get">
                                <div class="input-group">
                                    <div class="form-outline">
                                        {% render_field filter.form.name class="form-control textinput" placeholder="Search" %}
                                    </div>
                                    <button type="submit" class="btn btn-primary">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="card-body">

        <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
            <table class="table my-0" id="dataTable">
                <thead>
                <tr>
                    <th>
                        <input type="checkbox" onclick="toggle(this)"/></th>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Address</th>
                    <th>Phone</th>
                    <th>Pending Balance</th>
                    <th colspan="2" style="text-align: center;">Action</th>
                </tr>
                </thead>
                <tbody>
                {% if not page_obj %}
                    <tr class="no-data">
                        <td style="text-align: center" colspan="8">There is no customer, Please Add First</td>
                    </tr>
                {% else %}
                    {% for i in page_obj %}
                        <tr>
                            <td><input type="checkbox" name="foo" value="bar1"></td>
                            <td><img class="rounded-circle me-2" width="30" height="30" src="{{ i.image.url }}"
                                     alt="logo"/><a
                                    style="text-decoration: none"
                                    href="{% url  'customer:customer_details' i.id %}">{{ i.uid }}</a></td>
                            <td>{{ i.name }}</td>
                            <td>{{ i.email }}</td>
                            <td>{{ i.address }}</td>
                            <td>{{ i.phone }}</td>
                            <td>৳{{ i.balance }}</td>
                            {% if i.owner == user %}
                                <td><a class="btn btn-sm btn-info"
                                       href="{% url 'customer:customer_edit' i.id %}">Edit</a>
                                </td>
                                <td><a class="btn btn-sm btn-danger"
                                       href="{% url 'customer:customer_delete' i.id %}">Delete</a>
                                </td>
                                {% else %}
                                <td><a class="btn btn-sm btn-info disabled"
                                       href="{% url 'customer:customer_edit' i.id %}">Edit</a>
                                </td>
                                <td><a class="btn btn-sm btn-danger disabled"
                                       href="{% url 'customer:customer_delete' i.id %}">Delete</a>
                                </td>
                            {% endif %}

                        </tr>
                    {% endfor %}`
                {% endif %}
                </tbody>

            </table>
        </div>
        <div class="row">
            <div class="col-md-6 align-self-center">
                <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</p>
            </div>
            <div class="col-md-6">
                <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">

                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                            <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
                            <li class="page-item disabled"><a class="page-link"
                                                              href="?page={{ page_obj.previous_page_number }}"
                                                              aria-label="Previous"><span
                                    aria-hidden="true">«</span></a></li>

                        {% endif %}

                        {% if page_obj.has_next %}

                            {% for i in paginator.page_range %}

                                <li class="page-item">


                                    <a class="page-link {% if request.path == url %}active{% endif %}"
                                       href="?page={{ i }}">{{ i }}</a>
                                </li>

                            {% endfor %}
                            <li class="page-item"><a class="page-link"
                                                     href="?page={{ page_obj.next_page_number }}"
                                                     aria-label="Next"><span
                                    aria-hidden="true">»</span></a></li>

                            <li class="page-item"><a class="page-link"
                                                     href="?page={{ page_obj.paginator.num_pages }}">Last</a>
                            </li>
                        {% endif %}
                    </ul>

                </nav>
            </div>
        </div>
    </div>
{% endblock %}
