{% load static %}
<!doctype html>
<html lang="en">
<head>
    {% block meta %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    {% endblock %}
    <title>{% block title %}Star Eight - Dashboard{% endblock %}</title>
    <!-- Favicon -->
    <link rel="icon" href="{% static "dashboard/favicon.ico" %}"/>
    <!-- LOAD CSS FILES -->
    {% block stylesheets %}
        {% include 'dependency/stylesheet.html' %}
    {% endblock stylesheets %}
</head>
<body id="page-top">
{% if user.is_authenticated %}
    <div id="wrapper">
        <!-- Side bar -->
        {% block sidebar %}{% include 'partials/sidenav.html' %} {% endblock %}
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <!-- Nav bar -->
            {% block navbar %}{% include 'partials/topnav.html' %} {% endblock %}
                <!-- Content -->
                <div class="container">
                    {% block messages %}
                        {% if messages %}
                            {% for msg in messages %}
                                <div class="alert {{ msg.level_tag }}" role="alert">
                                    {{ msg.message }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endblock %}
                    {% block content %}{% endblock %}
                </div>
            </div>
            <!-- footer -->
            {% block footer %}{% include 'partials/footer.html' %} {% endblock %}
        </div>
    </div>
{% else %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="border p-3 bg-white">
                    <h3>Unauthorized User</h3>
                    <hr>
                    <div class="alert alert-danger">
                        <h4>You are not logged in</h4>
                    </div>
                    <a href="{% url 'dashboard:login' %}?next={{ request.path }}">Login</a>
                </div>
            </div>
        </div>
    </div>

{% endif %}
<!-- Load JS last for load times -->
{% block javascripts %}
    {% include 'dependency/javascripts.html' %}
{% endblock javascripts %}
</body>
</html>