{% extends 'partials/main.html' %}

{% load static %}
{% block content %}
    <div class="d-sm-flex justify-content-between align-items-center mb-4">
        <h3 class="text-dark mb-0">Dashboard</h3>

        <div class="row">
            <div class="col text-center">
                <a class="btn btn-success btn-md d-none d-sm-inline-block" role="button" href="{% url 'sell:create' %}">
            <i class="fas fa-check fa-sm text-white-50"></i> Sell</a>
                 <a class="btn btn-info btn-md d-none d-sm-inline-block" role="button" href="#">
           <i class="fab fa-paypal fa-sm text-white-50"></i> Payment</a>
            </div>
        </div>

        <a class="btn btn-primary btn-md d-none d-sm-inline-block" role="button" href="#">
            <i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
    </div>
    <div class="row">
        <div class="col-md-6 col-xl-3 mb-4">
            <div class="card shadow border-start-primary py-2">
                <div class="card-body">
                    <div class="row align-items-center no-gutters">
                        <div class="col me-2">
                            <div class="text-uppercase text-primary fw-bold text-xs mb-1">
                                <span>Total Customers</span></div>
                            <div class="text-dark fw-bold h5 mb-0"><span class="count">{{ total_customer }}&nbsp;<i
                                    class="fas fa-caret-up"></i></span></div>
                        </div>
                        <div class="col-auto"><i class="fas fa-users fa-2x text-gray-300"></i></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-3 mb-4">
            <div class="card shadow border-start-success py-2">
                <div class="card-body">
                    <div class="row align-items-center no-gutters">
                        <div class="col me-2">
                            <div class="text-uppercase text-success fw-bold text-xs mb-1"><span>Total Product</span>
                            </div>
                            <div class="text-dark fw-bold h5 mb-0"><span class="count">339&nbsp;<i
                                    class="fas fa-caret-up"></i></span></div>
                        </div>
                        <div class="col-auto"><i class="fas fa-box-open fa-2x text-gray-300"></i></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-xl-3 mb-4">
            <div class="card shadow border-start-warning py-2">
                <div class="card-body">
                    <div class="row align-items-center no-gutters">
                        <div class="col me-2">
                            <div class="text-uppercase text-warning fw-bold text-xs mb-1"><span>Total Supplier</span>
                            </div>
                            <div class="text-dark fw-bold h5 mb-0"><span class="count">5&nbsp;<i
                                    class="fas fa-caret-up"></i></span></div>
                        </div>
                        <div class="col-auto"><i class="fas fa-biking fa-2x text-gray-300"></i></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-3 mb-4">
            <div class="card shadow border-start-info py-2">
                <div class="card-body">
                    <div class="row align-items-center no-gutters">
                        <div class="col me-2">
                            <div class="text-uppercase text-info fw-bold text-xs mb-1"><span>Total invoices</span></div>
                            <div class="row g-0 align-items-center">
                                <div class="col-auto">
                                    <div class="text-dark fw-bold h5 mb-0 me-3"><span class="count">{{ total_invoices }}&nbsp;<i
                                            class="fas fa-caret-up"></i></span></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto"><i class="fas fa-clipboard-list fa-2x text-gray-300"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-7 col-xl-8">
            <div class="card shadow mb-4">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h6 class="text-primary fw-bold m-0">Earnings Overview</h6>
                    <div class="dropdown no-arrow">
                        <button class="btn btn-link btn-sm dropdown-toggle" aria-expanded="false"
                                data-bs-toggle="dropdown" type="button"><i class="fas fa-ellipsis-v text-gray-400"></i>
                        </button>

                    </div>
                </div>
                <div class="card-body">

                    <canvas id="myChart" style="display: block; height: 200px; width: 372px;"></canvas>

                </div>
            </div>
        </div>

        <div class="col-lg-5 col-xl-4">
            <div class="card shadow mb-4">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h6 class="text-primary fw-bold m-0">Revenue Sources</h6>
                    <div class="dropdown no-arrow">
                        <button class="btn btn-link btn-sm dropdown-toggle" aria-expanded="false"
                                data-bs-toggle="dropdown" type="button"><i class="fas fa-ellipsis-v text-gray-400"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="chart-area">
                        <canvas id="PieChart" height="0" width="0"
                                style="display: block; height: 320px; width: 250px;"></canvas>
                    </div>
                    <div class="text-center small mt-4"><span class="me-2"><i class="fas fa-circle text-primary"></i> Direct</span><span
                            class="me-2"><i class="fas fa-circle text-success"></i> Social</span><span class="me-2"><i
                            class="fas fa-circle text-info"></i> Refferal</span></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-6 col-xl-3 mb-4">
            <div class="card shadow border-start-success py-2">
                <div class="col-auto mx-auto"><i class="fas fa-print fa-2x text-gray-300"></i></div>
                <div class="card-body">
                    <div class="row align-items-center no-gutters">
                        <div class="col me-2">
                            <div class="fw-bold text-xxl-center mb-1">
                                <span><a style="text-decoration: none"
                                         href="{% url 'sell:create' %}">Create New Invoice</a> </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-3 mb-4">
            <div class="card shadow border-start-success py-2">
                <div class="col-auto mx-auto"><i class="fas fa-flag fa-2x text-gray-300"></i></div>
                <div class="card-body">
                    <div class="row align-items-center no-gutters">
                        <div class="col me-2">
                            <div class="fw-bold text-xxl-center mb-1">
                                <span><a style="text-decoration: none" href="#">Today Report</a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-3 mb-4">
            <div class="card shadow border-start-success py-2">
                <div class="col-auto mx-auto"><i class="fas fa-box-open fa-2x text-gray-300"></i></div>
                <div class="card-body">
                    <div class="row align-items-center no-gutters">
                        <div class="col me-2">
                            <div class="fw-bold text-xxl-center mb-1">
                                <span><a style="text-decoration: none" href="#">Add Product</a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-3 mb-4">
            <div class="card shadow border-start-success py-2">
                <div class="col-auto mx-auto"><i class="fas fa-user fa-2x text-gray-300"></i></div>
                <div class="card-body">
                    <div class="row align-items-center no-gutters">
                        <div class="col me-2">
                            <div class="fw-bold text-xxl-center mb-1">
                                <span><a style="text-decoration: none" href="{% url 'customer:create_customer' %}">Add Customer</a> </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>

        window.onload = function onCLick() {
            var ctx1 = document.getElementById('myChart').getContext('2d');
            var myChart = new Chart(ctx1, {
                type: 'bar',
                data: {
                    labels: [{% for i in qs %}'{{i.name}}',{% endfor %}],
                    datasets: [{
                        label: '',
                        data: [{% for i in qs %}{{i.balance}}, {% endfor %}],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                },
            });

            //Pie chart
            var ctx = document.getElementById('PieChart').getContext('2d');
            var PieChart = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: [{% for i in qs %}'{{i.name}}',{% endfor %}],
                    datasets: [{
                        label: '',
                        data: [{% for i in qs %}{{i.balance}}, {% endfor %}],
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                },
            });
        }
    </script>
{% endblock %}
