{% load static %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Straight Int Ltd - Login</title>
    <link rel="stylesheet" type="text/css" href="{% static '/dashboard/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href={% static '/login/fonts/ionicons.min.css' %}>
    <link rel="stylesheet" href={% static '/login/css/Login-Form-Dark.css' %}>
    <link rel="stylesheet" href={% static '/login/css/styles.css' %}>
</head>

<body>
<section class="login-dark">
    {% if for.error %}
        <p>Your Username & Password didn't match</p>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <h2 class="visually-hidden">Login Form</h2>
        <div class="illustration"><i class="icon ion-ios-locked-outline"></i></div>
        <div class="mb-3">{{ form|crispy }}</div>

        {#        <div class="mb-3"><input class="form-control" type="text" name="username" placeholder="Username"></div>#}
        {#        <div class="mb-3"><input class="form-control" type="password" name="password" placeholder="Password"></div>#}
        <div class="mb-3">
            <button class="btn btn-primary d-block w-100" type="submit">Log In</button>
        </div>
        <a class="forgot" href="#">Forgot your email or password?</a>
        <hr>
    </form>
</section>

<script src={% static 'dashboard/bootstrap/js/bootstrap.min.js' %}></script>
</body>

</html>